<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Year</th>
            <th>
                <input type="checkbox" @bind="displayButton"/>
            </th>
        </tr>
        </thead>
        <tbody>
        <GenericList ListOfItems="Games">
            <ItemTemplate Context="game">
                <IndividualGame Game="game" IsTable="true" DisplayButton="displayButton" DeleteGame="DeleteGame"/>  
            </ItemTemplate>
        </GenericList>
        </tbody>
        </table>
</div>
@code {
    [Parameter] public List<Game> Games { get; set; }
    private bool displayButton = false;

    private void DeleteGame(Game game)
    {
        Games.Remove(game);
    }
}